In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.1'

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
len(df)

9704

In [7]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [8]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [9]:
(df.isnull().sum() > 0).sum()

np.int64(4)

In [11]:
df[df['origin'].str.lower() == 'asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [9]:
df['horsepower'].median()

np.float64(149.0)

In [10]:
df['horsepower'].mode()[0]

np.float64(152.0)

In [11]:
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mode()[0])

In [12]:
df['horsepower'].median()

np.float64(152.0)

In [13]:
df_asia = df[df['origin'].str.lower() == 'asia']

In [35]:
df_asia_small = df_asia[['vehicle_weight', 'model_year']]

In [36]:
df_asia_small.head()

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016

In [37]:
df_asia_seven = df_asia_small.iloc[:7]

In [38]:
print(df_asia_seven)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [39]:
X = df_asia_seven.values

In [23]:
print(X)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [40]:
XTX = X.T.dot(X)

In [41]:
import numpy as np

XTX_inv = np.linalg.inv(XTX)

In [42]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [43]:
w = XTX_inv.dot(X.T).dot(y)

In [44]:
print(w)

[0.01386421 0.5049067 ]

In [45]:
w_sum = w.sum()

In [46]:
print(w_sum)

0.5187709081074016